<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HW5</title>
</head>
<body>
    <h1>Current Weather in {{ weather.city }}</h1>
    <ul>
    <li><h3>Name: {{ weather.name }}</h3></li>
    <li><h3>City: {{ weather.city }}</h3></li>
    <li><h3>Temperature: {{ weather.temp }} kelvin</h3></li>
    <li><h3>Pressure: {{ weather.pres }} hPa</h3></li>
    <li><h3>Wind Speed: {{ weather.windspd }} mph</h3></li>
    <li><h3>Wind Direction: {{ weather.winddir }}</h3></li>
    <li><h3>Time of Report: {{ weather.now }}</h3></li>
    </ul>
</body>
</html>